/*Főoldal oldal CSS*/

/*'Roboto' font importing from 'Google Fonts'*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url('https://i.imgur.com/kLtrezh.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    margin: 120px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
}