/*Rohonczi Kevin bemutatkozó oldal CSS*/

/*'Roboto' font importing from 'Google Fonts'*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url('resources/rk_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 120px;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
}

#main_div {
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.069);
}

#pic {
    width: 350px;
}

#index_link {
    float: right;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-weight: bold;
}